.attacks {
  display: none;
  list-style: none;
  list-style-type: none;
  padding: 10px 0;
  margin-top: 10px;
  border-top: $canary-green 1px solid;
  -webkit-padding-start: 0px;

  .attack-details {
    padding: 0.5rem;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;

    span,strong {
      flex-grow: 1;
      width: 30%;
      padding-right: 3%;

      &:nth-child(3n) {
        width: 33%;
        padding-right: 0;
      }
    }

  }
}
.attacker {

  > span {
    font-weight: bolder;
    color: $gray-700;
  }

  &.info {
    .attack-counter {
      background-color: #d9edf7;
      color: #31708f;
    }
  }

  &.danger {
    .attack-counter {
      background-color: #f2dede;
      color: #a94442;
    }
  }

  &.warning {
    .attack-counter {
      background-color: #fcf8e3;
      color: #8a6d3b;
    }
  }

  .attack-counter {
    float: right;
    font-weight: bolder;
    padding: 2px 10px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
  }

  img {
    height: 24px;
    width: 24px;
    margin-right: 15px;
    float: left;
  }
  .fa-chevron-down , .fa-chevron-up{
    float: right;
    margin-left: 15px;
    line-height: 25px;
  }
}

.remove-border {
  .attacks {
    border: 0;
  }
}
.no-border {
  border: 0;
}

#pieCanary, #pieAttacker, #pieTypes {
  margin: 0 auto;
}

.cart-title {
  text-align: center;
  font-weight: bolder;
}

.pie-tooltip {

  color: $gray-600;
  display: none;                                                  
  font-size: 12px;
  padding: 10px;                                                  
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;                                             
  top: 10px;
  z-index: 10;

  .label {
    display: inline-block;
  }
}
.color-box {
  height: 10px;
  width: 10px;
  margin-right: 10px;
  display: inline-block;
}
